<% title 'Cart' %>

<table>
	<thead>
		<tr>
			<th>
				Item
			</th>
			<th>
				Price
			</th>
			<th>
				Quantity
			</th>
			<th>
				Line Total
			</th>
			<th>
				Discount
			</th>
			<th class="right">
			</th>	
		</tr>
	</thead>
	<tbody>
		<%= render :partial=>"line", :collection => @cart.items %>
		<tr>
			<td colspan="5">
			<td id="total" class="right">
				Sub Total:
				<%= number_to_currency @cart.cart_sub_total %>
			</td>
		</tr>
		<tr>
			<td colspan="4">
			<td class="right">
					Discount Amount:
					<%= number_to_percentage @cart.order_discount, :precision => 0 %>
			</td>
			<td class="right">
					<%= number_to_currency @cart.cart_discount %>
			</td>
		</tr>		
		<tr>
			<td colspan="5">
			<td id="total" class="right">
				<strong>
					Total:
					<%= number_to_currency @cart.cart_total %>
				<strong>
			</td>
		</tr>
	</tbody>
</table>

<%= form_tag checkout_path %>
	<%= submit_tag 'Checkout' %>
</form>



